@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body
{
	font-family: 'NanumSquare', sans-serif;
	font-size:70%;
	width:100%;
	height:100vh;
	margin:0;
	padding:0;
	overflow: auto;
	background-color: #F2F2F2;
}
.allcontents
{
	/* border:1px solid black; */
	width:40%;
	margin:auto;
	background-color: white;
}
.topcontents
{
	border-bottom:1px solid #F2F2F2;
	top:0;
	text-align:center;
	width:100%;
	height:5vh;
	display:inline-block;
}
.topback
{	
	border:0;
	background: none;
	margin:0;
	padding-bottom:0.01rem;
}
.toplogo
{
	display:inline-block;
	width:80%;
}
.topimg
{
	width:110px;
	height:50px;
	margin:auto;
}
.topgrid
{
	border:0;
	background: none;
	margin:0;
	padding-bottom:0.01rem;
}
.navicontents
{
	border:1px solid #F2F2F2;
	position:relative;
	font-size: 1.5rem;
	padding-top:1em;
	display: none;
}
a
{
	text-decoration:none;
	color:black;
}
a:hover
{
	color:#288CD2
}
ul
{
	list-style: none;
}
.tab
{
	display:flex;
	width:100%;
	height:5%;
	margin-bottom:3em;
}
.profileTab
{
	margin:0;
	padding-top:0.5em;
	width:50%;
	text-align:center;
	font-size:1.5em;
	border: 0.1em #F2F2F2 solid;
	cursor:pointer;
	background-color: #F2F2F2;
}
.profileTab:hover
{
	background-color: #506EA5;
	color:white;
}
.accountTab
{
	margin:0;
	padding-top:0.5em;
	width:50%;
	text-align:center;
	font-size:1.5em;
	border: 0.1em #F2F2F2 solid;
	border-bottom:none;
	cursor:pointer;
	
}
.accountTab:hover
{
	background-color: #506EA5;
	color:white;
}
.trainerAccountTable
{
	width:80%;
	margin:auto;
	font-size:1.5em;
	
}
input[type=password]
{
	font-family: "Geogia";
	&::placeholder {font-family: "NanumSquare";}
}
#pw
{
	width:150px;
	display: inline;
	font-color: black;
}
#modifyAccountButton
{
	width:100%;
}
#saveAccountButton
{
	width:100%;
}
#selfOut
{
	width:100%;
}
@media screen and (max-width:787px)
{
	body
	{
		width:100%;
		background-color: white;
	}
	.allcontents
	{
		width:100%;
		/* padding-top: 3em; */
	}
	.topcontents
	{
		height:50px;
	}
	.tab
	{
		height:45px;
	}
}