@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body
{
	font-family: 'NanumSquare', sans-serif;
	font-size:70%;
	width:100%;
	height:100vh;
	margin:0;
	padding:0;
	overflow: auto;
	background-color: #F2F2F2;
}
::-webkit-scrollbar { display: none; } 
.allcontents
{
	width:40%;
	margin:auto;
	background-color: white;
	overflow: auto;
}
.topcontents
{
	border-bottom:1px solid #F2F2F2;
	top:0;
	text-align:center;
	width:100%;
	height:5vh;
	display:inline-block;
}
.toplogo
{
	display:inline-block;
	width:95%;
}
.topimg
{
	width:110px;
	height:50px;
	margin:auto;
}
.topgrid
{
	border:0;
	background: none;
	margin:0;
	padding-bottom:0.01rem;
}
.navicontents
{
	border-bottom:1px solid #F2F2F2;
	position:relative;
	font-size: 1.5rem;
	padding-top:1em;
	display: none;
}
a
{
	text-decoration:none;
	color:black;
}
a:hover
{
	color:#288CD2
}
ul
{
	list-style: none;
}
.membercontents
{
	width:100%;
	overflow: auto;
}
.membercontents ul
{
	display:inline-block;
	width: 100%;
	height: 30%;
	margin:auto;
	padding:0;
}
.membercontents ul > li
{
	margin:auto;
}
.memberlist
{
	border:3px solid #F2F2F2;
	border-radius:20px;
	height: 30%;
	width:100%;
}
.memberlist ul
{
	width:100%;
	list-style: none;
	margin:auto;
	padding:0;
}
.memberlist ul > li
{
	width:100%;
	text-align:center;
	padding:0;
	margin-top:0.5em;
	margin-bottom:1em;
}
.memberlist ul > li > b
{
	font-size: 1.5rem;
}
.memberlist > ul > li:first-child
{
	text-align:right;
	margin:0;
	z-index:50;
	width:43em;
}
img
{
	width:130px;
}

.memberdelete
{
	width:15px;
}
.angle-up
{
	position:fixed;
	right:31%;
	bottom:2%;
	color:black;
	font-size: 1rem;
}
.a
{
	width:150px;
	height:160px;
}
@media screen and (max-width:787px)
{
	body
	{
		width:100%;
		background-color: white;
	}
	.allcontents
	{
		width:100%;
		/* padding-top: 3em; */
	}
	.topgrid
	{
		position:absolute;
		right:3%;
		top:2%;
	}
	.membercontents
	{
		width:100%;
	}
	.memberlist > ul > li:first-child
	{
		width:34em;
		height:1em;
	}
	.topcontents
	{
		height:6vh;
	}
	.angle-up{
		right:3%;
		bottom:2;
	}
}